body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.layer1 {
    position: absolute;
    left: -5%;
    background-image: url('../contents/langit.png');
    width: 110%;
}

.layer2 {
    position: absolute;
    left: -5%;
    background-image: url('../contents/pohon.webp');
    width: 120%;
}

.layer3 {
    background-image: url('../contents/rumah.png');
    left: -0.25%;
    top: -20%;
    width: 101%;
    height: 150%;
}

.layer4 {
    position: absolute;
    top: 35%;
    left: 32%;
    width: 23%;
    height: 48%;
    transform: translate(0%, 0%);
    background-image: url('../contents/rocketburger.webp');
}

.door {
    position: absolute;
    top: 43.7%;
    left: 42.5%;
    width: 9%;
    height: 24.8%;
    background-image: url('../contents/pintu.png');
}

.doortrigger{
    position: absolute;
    top: 43.7%;
    left: 45%;
    width: 9%;
    height: 24.8%;
}

.doortrigger:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}

.clickanimation {
    position: absolute;
    top: 52%;
    left: 47.5%;
    width: 5%;
    height: 7%;
    background-image: url('../../../all-assets/clickanimation.webp');
}

.clickPopUpAnimation {
    position: absolute;
    top: 11%;
    left: 4%;
    width: 7%;
    height: 11%;
    background-image: url('../../../all-assets/clickanimation.webp');
}

.black {
    position: absolute;
    top: 43.7%;
    left: 45%;
    width: 9%;
    height: 24.8%;
    background-color: rgb(22, 22, 22);
}

.layer5 {
    background-image: url('../contents/restoran.png');
    top: 0%;
    left: 0%;
    width: 100%;
}

.bendera {
    position: absolute;
    top: 46%;
    left: 56%;
    width: 17%;
    height: 7%;
    background-image: url('../contents/benderakaca.webp');
}

.kucing {
    position: absolute;
    top: 71%;
    left: 47%;
    width: 9%;
    height: 9%;
    background-image: url('../contents/kucing.webp');
}

.alien {
    position: absolute;
    top: 46.6%;
    left: 64%;
    width: 6%;
    height: 23%;
    background-image: url('../contents/alien.webp');
}

.koran {
    position: absolute;
    top: 49%;
    left: 29%;
    width: 4%;
    height: 24%;
    background-image: url('../contents/wolfkoran.webp');
}

.table1 {
    position: absolute;
    top: 39%;
    left: 2.5%;
    width: 18%;
    height: 40%;
    background-image: url('../contents/table1.webp');
}

.table2 {
    position: absolute;
    top: 54%;
    left: 29%;
    width: 16%;
    height: 23%;
    background-image: url('../contents/table2.webp');
}

.table3 {
    position: absolute;
    top: 52%;
    left: 57%;
    width: 15%;
    height: 26%;
    background-image: url('../contents/table3.webp');
}

.waiter {
    position: absolute;
    top: 47%;
    left: 43%;
    width: 5.5%;
    height: 23%;
    background-image: url('../contents/waiter.webp');
}

.pepefinker {
    position: absolute;
    top: 17%;
    left: 76%;
    width: 24%;
    height: 64%;
    background-image: url('../contents/pepefinker.webp');
}

.bola {
    z-index: 50;
    position: absolute;
    top: 31.3%;
    left: 81%;
    width: 3%;
    height: 18%;
    animation: swingBola 2s infinite ease-in-out alternate;
}

.bola:hover {
    animation: swingBola 1s infinite ease-in-out alternate; 
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}

@keyframes swingBola{
    0% {
        transform: rotate(-9deg); /* Mulai dari ayunan ke kiri */
        left: 80%;
     }
    50% {
        transform: rotate(9deg); /* Ayunan ke kanan */
        left: 79%;
    }
    100% {
        transform: rotate(-9deg); /* Kembali ke ayunan ke kiri */
        left: 80%;
    }
}

.trotoar {
    position: absolute;
    top: 73%;
    left: 0%;
    width: 100%;
    height: 27%;
    background-image: url('../contents/object.png');
}

.asep {
    position: absolute;
    top: 75%;
    left: 13.5%;
    width: 3%;
    height: 10%;
    background-image: url('../contents/webpasap.webp');
}

.sepeda {
    position: absolute;
    top: 82.5%;
    left: 0%;
    width: 18%;
    height: 35%;
    transform: translateY(-50%) translateX(100vw);
    animation: speedMovement 10s infinite ease-in-out; 
}

@keyframes speedMovement {
    from {
        transform: translateY(-50%) translateX(100vw); 
    }
    to {
        transform: translateY(-50%) translateX(-100vw); 
    }
}

.flyingburger {
    position: absolute;
    top: 0%;
    left: 87%;
    width: 13%;
    height: 47%;
    background-image: url('../contents/burgerTerbang.webp');
}

.barangMasuk {
    display: none;
    position: absolute;
    width: 100%; 
    height: 100%; 
    background-image: url("../contents/barangMasuk.webp");
}

.burgerHover {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 32.5%;
    height: 10%;
}

.burgerHover:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}

.catHover {
    position: absolute;
    top: 71%;
    left: 49.5%;
    width: 6%;
    height: 9%;
}

.catHover:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}

.BycicleHover {
    position: absolute;
    top: 82.5%;
    left: 0%;
    width: 18%;
    height: 35%;
    transform: translateY(-50%) translateX(100vw);
    animation: speedMovement 10s infinite ease-in-out; 
}

.BycicleHover:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}

.popup-container {
    overflow: visible;
    position: absolute;
    display: none;
    right: 37%;
    top:20%;
    z-index: 100;
    width: 23%;
    height: 100%;
}

.popup-background {
    width: 110%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.popup-content {
    width: 90%;
    height: max-content;
    overflow: visible;
    position: absolute;
    top: -6%;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.ca-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links {
    overflow: visible;
    position: absolute;
    top: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: max-content;
}

.sosmed {
    position: absolute;
    top: 110%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 60%;
}

.hamburg-popup {
    height: max-content;
    width: 90%;
}

.w-100 {
    width: 100%;
    height: max-content;
}

.w-60{
    width: 60%;
    height: max-content;
}

.w-80{
    width: 80%;
    height: max-content;
}

.w-70{
    width: 70%;
    height: max-content;
}

.exit-button{
    position: absolute;
    bottom: -10%;
    align-self: flex-end;
    padding-right: 10%;
    width: 10%;
    height: auto;
}

.exit-button:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}

.popup-trigger{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 14.5%;
    height: 35%;
    background-color: transparent;
}

.popup-trigger:hover {
    cursor: url(../../../all-assets/CURSORHOVER.png) 30 30, crosshair;
}