* {
    cursor: url(CURSORHAMBURG.png) 30 30, crosshair;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.framescreen {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hoverscrollleft {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 15%;
    height: 100%;
    z-index: 2;
}

.hoverscrollright {
    position: fixed;
    left: 85%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 15%;
    height: 100%;
    z-index: 2;
}

#oriental {
    width: 500%;
/*     transform: translateX(-40%); */
}

.intro {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(25, 23, 24, 1);
}

.loader {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(25, 23, 24, 1);
}

/* .centerClickText {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17%;
    height: 8%;
    align-items: center;
    transition: color 0.3s ease, width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
}

.centerClickText:hover {
    color: #FFCC00;
    width: 24%;
    height: 20%;
    font-size: 1.9em;
} */

.introAnimation {
    font-size: 1.85em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loadingimage {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('burgerloading.gif');
}

.loadingtext {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 550px) {
    .framescreen {
        width: 1900px;
    }

    * {
        overflow-x: auto;
    }
}
