* {
    cursor: url(CURSORHAMBURG.png) 30 30, crosshair;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

.framescreen {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.musichandler {
    position: fixed;
    top: 85%;
    left: 2.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url(play.png);
    width: 6%;
    height: 10%;
    z-index: 2;
}

/* .hoverscrollleft {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 15%;
    height: 100%;
    z-index: 2;
}

.hoverscrollright {
    position: fixed;
    left: 85%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 15%;
    height: 100%;
    z-index: 2;
} */

/* #oriental {
    width: 500%;
    transform: translateX(-40%);
} */

.intro {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(25, 23, 24, 1);
}

.loader {
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(25, 23, 24, 1);
}

/* .centerClickText {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17%;
    height: 8%;
    align-items: center;
    transition: color 0.3s ease, width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
}

.centerClickText:hover {
    color: #FFCC00;
    width: 24%;
    height: 20%;
    font-size: 1.9em;
} */

/* .introAnimation {
    font-size: 1.85em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.loadingimage {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('burgerloading.gif');
}

.loadingtext {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 700px) {
    .intro {
        position: fixed;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .loader {
        position: fixed;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .loadingimage {
        position: absolute;
        top: 10%;
        left: 12%;
        width: 20%;
        height: 10%;
    }

    .loadingtext {
        margin: auto;
        top: 22%;
        left: 12%;
        align-items: center;
        justify-content: center;
    }

    .framescreen {
        position: sticky;
        width: 1900px;
    }

    * {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}